<div style="text-align:center">
  <a routerLink="/articulos">Artículos</a>
  <div style="border: 1px solid red">
    <router-outlet></router-outlet>
  </div>
</div>
<div class="container">
  <h1>Administración de artículos</h1>
    <table class="table table-borderless table-dark"  *ngIf="hayRegistros(); else sinarticulos">
      <thead>
      <tr>
        <th>Codigo</th>
        <th>Nombre</th>
        <th>Tipo</th>
        <th>Precio</th>
        <th>Stock</th>
        <th>Nombre del Archivo</th>
        <th>Ruta del Archivo</th>
        <th>Borrar</th>
        <th>Seleccionar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let articulo of lista">
        <td scope="row">{{articulo.id}}</td>
        <td>{{articulo.nombre}}</td>
        <td>{{articulo.tipo}}</td>
        <td>{{articulo.precio}}</td>
        <td>{{articulo.stock}}</td>
        <td>{{articulo.nombre_archivo}}</td>
        <td>{{articulo.ruta_archivo}}</td>
        <td><button (click)="eliminar(articulo.id)" class="btn btn-danger">¿Borrar?</button></td>
        <td><button (click)="mostrar(articulo.id)" class="btn btn-primary">Seleccionar</button></td>
      </tr>
    </tbody>
    </table>
    <ng-template #sinarticulos><p>No hay articulos</p></ng-template>
    <div>
      <h1>Añadir un nuevo artículo</h1>
      <div class="form-group">
        Nombre:<input type="text" class="form-control"  [(ngModel)]="art.nombre" />
      </div>
      <div class="form-group">
        Tipo:<input type="text" class="form-control"  [(ngModel)]="art.tipo" />
      </div>
      <div class="form-group">
        Precio:<input type="number" class="form-control"  [(ngModel)]="art.precio" />
      </div>
      <div class="form-group">
        Stock:<input type="number" class="form-control"  [(ngModel)]="art.stock" />
      </div> 

      <div class="input-group" style="margin: 7px;">
        <div class="input-group-prepend">
          <span class="input-group-text upload" (click)="upload()" id="btnUpload">
            Subir
          </span>
        </div>
        <div class="custom-file">
          <form action="/articulos/" method="post" enctype="multipart/form-data">
            <input (change)="fileChange($event)"
                   type="file" class="custom-file-input" id="inputGroupFile01"
                   aria-describedby="inputGroupFileAddon01">
          </form>
          <label class="custom-file-label" for="inputGroupFile01">
             Escoger Archivo
          </label>
        </div>
      </div>
       
      <p><button (click)="nuevo()" class="btn btn-success" style="margin:5px;">Agregar</button>
      <button (click)="actualizar()" class="btn btn-success">Modificar</button></p>
    </div>
</div>

